*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
}

body{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    line-height: 1.3;
    text-rendering: optimizeSpeed;
    font-family: Raleway,sans-serif;
    background-image: url(../images/bg-mobile.png);
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
}

main{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contenedorFylo{
    width: 90%;
    padding: 1rem;
    background: hsl(228, 56%, 26%);
    margin: auto;
    border-radius: 0% 30% 0% 10%;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.galeria{
    padding: 1rem;
    display: flex;
    gap: 0.4rem;
    justify-content: flex-start;
}

.galeria img{
    background:hsl(229, 57%, 11%);
    padding: 0.5rem;
    border-radius: 20%;
}

.contenedorUso{
    width: 90%;
    background: rgb(29, 44, 103);
    display: flex;
    gap: 1rem;
    flex-direction: column;
    margin-top: 4%;
    border-radius: 6%;
}

p{
    color: white;
    display: flex;
    Font-size: 14px;
    justify-content: center;
    padding: 0.5rem;
}

.inner-bar {
    display: flex;
    width: 50%;
    padding: 2px;
    border-radius: 30px;
    height: 20px;
    background: linear-gradient(90deg, #FFA197 0%, #FF4A95 100%);
    align-items: center;
    box-shadow: 0 2px 4px rgb(12 55 167 / 35%);
}

.ball {
    display: flex;
    width: 14px;
    height: 14px;
    margin-left: 85%;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgb(12 55 167 / 35%);
}

.outer-bar {
    display: flex;
    width: 100%;
    border-radius: 30px;
    height: 30px;
    padding: 2px 5px;
    background:hsl(228, 56%, 26%);
    align-items: center;
    justify-content: flex-start;
    box-shadow: 0 2px 4px rgb(12 55 167 / 35%);
}

#mover{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.Mover{
    color: white;
    font-weight: 700;
    font-size: 16px;
}

.contenedorBlanco{
    border: 1px solid white;
    background-color: white;
    color: hsl(228, 56%, 26%);
    margin: auto;
    width: 50%;
    display: flex;
    flex-direction: row;
    border-radius: 10%;
    justify-content: space-evenly;
    font-size: 2rem;
}

span{
    font-size: 16px;
    color: hsl(229, 7%, 55%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.pop-up{
    display: none;
}

@media screen and (min-width:1440px){

    main{
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    
    .contenedorFylo{
        width: 20%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        margin-left: 20%;
        align-items: stretch;
    }

    .contenedorUso{
        width: 50%;
        display: flex;
        align-content: center;
        align-items: flex-start;
        padding: 1rem;
        margin-right: 8%;
        margin-bottom: 3%
    }

    .contenedorBlanco{
        margin: -top;
        margin-top: -27%;
        width: 20%;
        margin-left: 81%;
    }

    .ball {
        display: flex;
        width: 14px;
        height: 14px;
        margin-left: 97%;
        /* margin: auto; */
        border-radius: 50%;
        background-color: #fff;
        box-shadow: 0 2px 4px rgb(12 55 167 / 35%);
    }

    .movergb{
        width: 100%;
    }

    .contenedorBlanco::before{
        content: "";
        position: absolute;
        border-right: 20px solid #fff;
        border-top: 20px solid #fff;
        border-left: 20px solid transparent;
        border-bottom: 20px solid transparent;
        bottom: 390px;
        left: 87%;
    }
}